@import url('https://fonts.googleapis.com/css2?family=Maitree&family=The+Nautigal&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Maitree', serif;
  font-weight: bold;
  font-size: 21px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  p {
    left: 28px;
    margin: 0;
    padding: 0 0 0 20px;
    font: italic bolder 55px 'The Nautigal';
    color: #5f4600;
    transform: rotate(-4deg);
    text-shadow: 1px 1px 2px black, 0 0 16px purple;
    transition: text-shadow 0.3s ease-out, transform 0.3s linear;
    &:hover {
      text-shadow: 0 0 22px #f6ffc1;
      transform: rotate(-5deg);
    }
  }
  ul {
    right: 20px;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    border-radius: 10px;

    li {
      padding: 0 14px;
      color: #f5d393;
      text-shadow: 1px 1px 2px black, 0 0 20px blue, 0 0 7px darkblue;
      border-bottom: 0;
      transition: text-shadow 0.2s ease-out;

      &:hover {
        text-shadow: 1px 1px 2px black, 0 0 20px #cdf53c, 0 0 7px #42dd7d;
      }

      a {
        text-decoration: none;
        color: #f5d393;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

.grid-container {
  display: grid;
  width: 100vw;
  height: 100vh;
  & > * {
    border: 2px solid #977a3c;
    border-radius: 10px;
    margin: 4px;
    padding: 8px;
  }

  grid-template-rows: 80px auto 70px;

  article {
    overflow: scroll;
  }
}

@media screen and (max-width: 768px) {
  .grid-container {
    background-color: green;
  }
}
