@import url('https://fonts.googleapis.com/css2?family=Maitree&family=The+Nautigal&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

@mixin background {
  background-repeat: no-repeat;
  background-size: cover;
}

body {
  @include background();
  font-family: 'Maitree', serif;
  font-weight: bold;
  font-size: 21px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  p {
    left: 28px;
    margin: 0;
    padding: 0 0 0 20px;
    font: italic bolder 55px 'The Nautigal';
    transform: rotate(-4deg);
    color: #5f4600;

    text-shadow: 1px 1px 2px black, 0 0 16px purple;
    transition: text-shadow 0.7s ease-out, transform 0.7s linear;
    &:hover {
      text-shadow: 0 0 22px #f6ffc1;
      transform: rotate(-7deg);
    }
  }
  ul {
    right: 20px;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    list-style-type: none;
    border-radius: 10px;

    li {
      padding: 0 14px;
      color: #f5d393;
      text-shadow: 1px 1px 2px black, 0 0 20px blue, 0 0 7px darkblue;
      border-bottom: 0;
      transition: text-shadow 0.5s ease-out, transform 0.2s linear;

      &:first-child {
        transform: rotate(-15deg);
      }
      &:nth-child(2) {
        transform: rotate(5deg);
      }
      &:nth-child(3) {
        transform: rotate(-10deg);
      }
      &:last-child {
        transform: rotate(10deg);
      }

      &:hover {
        text-shadow: 1px 1px 2px black, 0 0 20px #cdf53c, 0 0 7px #42dd7d;
        transform: rotate(0);
      }

      a {
        text-decoration: none;
        color: #f5d393;
        &:hover {
          color: #fff;
        }
      }
    }
  }
}

main {
  display: flex;
}
section {
  width: 40vw;
}
